
/entry/
/example
/node_modules
/src
/calcit.cirru
/shadow-cljs.edn
/yarn.lock
*.log
.github/
/out-page/

/server.js
/webpack.config.js
/index.html
/client.js
compact.cirru
/.gitattributes
.compact-inc.cirru
.calcit-error.cirru
LICENSE
