
name: npm publish

on:
  release:
    types: [created]

jobs:
  deploy:
    name: Deploy

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: yarn

      - uses: supplypike/setup-bin@v3
        with:
          uri: 'https://github.com/calcit-lang/calcit/releases/download/0.8.8/cr'
          name: 'cr'
          version: '0.8.8'

      - uses: supplypike/setup-bin@v3
        with:
          uri: 'https://github.com/calcit-lang/calcit/releases/download/0.8.8/caps'
          name: 'caps'
          version: '0.8.8'

      - run: caps --ci && yarn && yarn compile-server && yarn compile-page && yarn release-page

      - name: publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
